<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div id="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{msg}}</strong> 
              </div>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
              </script>
              <script type="text/javascript">
                  $(document).ready(function() {
                      $('#alerta').show('fade');

                      setTimeout(function() {
                          $('#alerta').hide('fade');
                      }, 3000);
                      
                  });
              </script> 
            {% endfor %}
        {% endif %} 
    {% endwith %}   

  <style>
    .mytable_td{
      display:flex;
      align-items:center;
      justify-content: center;
    }
    .btn-style{
      background-color:#008844;
      text-align: center;
      text-shadow: indigo;

    }

  </style>  
  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h2>Gerir Utilizadores  <button type="button" class="btn btn-style float-right" data-toggle="modal" data-target="#mymodal">Novo Utilizador</button></h2>
          <table id="Users" class="table table-borderless table-striped table-hover" width="100%">
            <thead>
              <tr>
                <th>UserID</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for key,value in Utiliz %}
                <td>{{value}}</td>
                <td>{{key}}</td>
                <td class="mytable_td">
                  <a href="/delete/{{value}}" class="btn btn-danger btn-xs button_del" onclick="return confirm('Tem a certeza que dejesa eliminar o utilizador?')">Remover</a>
                </td>
              </tr>
                {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div> 
    <!--NOVO USER FORM-->
    <div id="mymodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><h4 class="modal-title">Novo Utilizador</h4></div>
          <div class="modal-body">
            <form action="{{url_for('registo')}}" method="POST">
            <!--<span class="input-group-text" id="user_input"><i class="fa fa-user-circle" aria-hidden="true"></i></span>-->
                  <div class="form-group">
                   
                    <input type="text" class="form-control" name="USER" id="" placeholder="username" required="1">
                
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Adicionar</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>

    </div>
  </div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $("#Users").DataTable({
        searching:true,
        ordering:true,
        lenghtMenu:[[5, 10, 15], [2, 5, 7]],
        "language":{
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
        },
    })

</script>
</html>

{% endblock %}